<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>WelcomeServlet</display-name>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/WelcomeServlet</url-pattern>
  </servlet-mapping>
  <display-name>proj4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RootUser</display-name>
    <servlet-name>RootUser</servlet-name>
    <servlet-class>RootUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RootUser</servlet-name>
    <url-pattern>/RootUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthenticateUser</display-name>
    <servlet-name>AuthenticateUser</servlet-name>
    <servlet-class>AuthenticateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticateUser</servlet-name>
    <url-pattern>/AuthenticateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientUser</display-name>
    <servlet-name>ClientUser</servlet-name>
    <servlet-class>ClientUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientUser</servlet-name>
    <url-pattern>/ClientUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataEntry</display-name>
    <servlet-name>DataEntry</servlet-name>
    <servlet-class>DataEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataEntry</servlet-name>
    <url-pattern>/DataEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataEntryUser</display-name>
    <servlet-name>DataEntryUser</servlet-name>
    <servlet-class>DataEntryUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataEntryUser</servlet-name>
    <url-pattern>/DataEntryUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountantUser</display-name>
    <servlet-name>AccountantUser</servlet-name>
    <servlet-class>AccountantUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountantUser</servlet-name>
    <url-pattern>/AccountantUser</url-pattern>
  </servlet-mapping>
</web-app>